.cronologia .poster {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(209, 128, 22, 0.5);
}

.timeline {
  gap: 40px;
}

.linea-tiempo {
  height: 50px;
  position: relative;
}

.linea-tiempo .linea {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: gray;
  z-index: 0;
}

.linea-tiempo .punto {
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  background-color: rgb(182, 144, 21);
  border-radius: 50%;
  z-index: 1;
  transform: translateX(-50%);
  border: 2px solid white;
}
/* Colores personalizados para el scrollspy */
  #list-example .list-group-item {
    background-color: #504444;
    color: #000000;
    border: none;
    transition: background-color 0.3s ease;
  }

  #list-example .list-group-item:hover {
    background-color: #e4a11b;
    color: #000000;
  }

  .scrollspy-example {
    background-color: #110f0f;
    color: #9e888b;
  }