body {
    padding: 15px;
    background-color: #121212;
    color: #9f8e8e;
}

.nav-link {
    margin: 0 10px;
    font-weight: 500;
    text-decoration: none;
}
  
.nav-link:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #968488;
}

.peliculas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pelicula {
    background: white;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s;
}

.pelicula:hover {
    transform: translateY(-5px);
}

.pelicula img {
width: 100%;
height: 500px;
object-fit: cover;
}
        
.pelicula-info {
    padding: 15px;
}
        
.pelicula h2 {
    margin: 0 0 10px;
    color: #e50914;
}
        
.fecha {
    font-weight: bold;
    color: #e50914;
    font-size: 1.1em;
}
        
.genero {
    color: #666;
    font-style: italic;
}